body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h3 {
  margin: 0;
}

.gs .sk-results-list {
  width: 50%;
  padding: 15px 100px;
}

.gs .sk-layout__body {
  min-height: calc(100vh - 60px);
}

.gs .sk-hits-stats {
  margin: 0 7px;
}

.gs-icon {
  margin-right: 1em;
}